.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,
body {
  background-color: #000;
  min-width: 360px;
}

.slick-list {
  margin-right: -24px;
}

.slick-slide {
  padding-right: 24px;
}

/* Token bgColor class */
.DRACObgColor {
  background: radial-gradient(
      85.21% 85.21% at 50% -17.61%,
      rgba(172, 30, 255, 0.137129) 0%,
      rgba(172, 30, 255, 0.2) 0%,
      rgba(172, 30, 255, 0.126621) 0%,
      rgba(172, 30, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.05);
}

.TORNADObgColor {
  background: radial-gradient(
      85.21% 85.21% at 50% -17.61%,
      rgba(188, 63, 51, 0.2) 0%,
      rgba(188, 63, 51, 0) 100%
    ),
    rgba(255, 255, 255, 0.05);
}

.DEBCObgColor {
  background: radial-gradient(
      85.21% 85.21% at 50% -17.61%,
      rgba(204, 0, 72, 0.2) 0%,
      rgba(204, 0, 72, 0) 100%
    ),
    rgba(255, 255, 255, 0.05);
}

.REFLECTbgColor {
  background: radial-gradient(
      85.21% 85.21% at 50% -17.61%,
      rgba(46, 220, 178, 0.2) 0%,
      rgba(46, 220, 178, 0) 100%
    ),
    rgba(255, 255, 255, 0.05);
}

.TIGbgColor {
  background: radial-gradient(
      85.21% 85.21% at 50% -17.61%,
      rgba(199, 115, 38, 0.2) 0%,
      rgba(199, 115, 38, 0) 100%
    ),
    rgba(255, 255, 255, 0.05);
}
