@import "./_mixin";
.increase,
.decrease,
.none {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  font-feature-settings: "tnum" on, "lnum" on, "cv13" on;

  padding: 3px 6px;

  height: 18px;

  border-radius: 12px;

  font-size: 14px;
}

.increase {
  background: rgba(39, 198, 131, 0.1);
  color: #27c683;
}

.decrease {
  background: rgba(250, 84, 84, 0.1);
  color: #fa5454;
}

.none {
  background: rgba(217, 217, 217, 0.1);
  color: #d9d9d9;
}

@media (min-width: 1025px) and (max-width: 1196px) {
  .increase,
  .decrease,
  .none {
    padding: 0.2508vw 0.5017vw;

    height: 1.505vw;

    border-radius: 1.0033vw;

    font-size: 1.1706vw;
  }
}
