button {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  line-height: 130%;

  display: block;
  margin: 20px auto;
  padding: 4px 10px;
  border: 5px solid #102019;
  border-radius: 15px;
  color: rgb(155, 255, 193);
  background: rgb(53, 117, 78);
  cursor: pointer;
}
